body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

body, html{
  overflow-x: hidden;
  overflow-y: auto;
}

textarea {
  height: 200px;
  width: 800px;
}

.home {
  padding: 10px;
}

.samples {
  padding: 10px;
}

.chat {
  padding: 10px;
  max-width: calc(50% - 8px);
}